html, body {
    background-color: #AC1D25;
    user-select: none;
}

/* CLASSES */
.block-align {
    display: block !important;
}

.center-text {
    text-align: center;
}

.left-corner-teams {
    left: 20px;
    position: fixed;
    top: 10px;
}

.left-corner-points {
    left: 120px;
    position: fixed;
    top: 10px;
}

.num-input {
    background-color: white;
    caret-color: transparent;
    padding-left: 15px;
    width: 174px;
}

.num-input:focus::-webkit-inner-spin-button,
.num-input:focus::-webkit-outer-spin-button {
    opacity: 1;
    -webkit-appearance: inner-spin-button;
}

.num-input::selection {
    background-color: white;
}

.num-input::-webkit-inner-spin-button,
.num-input::-webkit-outer-spin-button {
    opacity: 0;
    height: 26px;
}

.overlay {
    background: black;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.page-center {
    left: 50%;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%); /* sets the pivot point to center */
}

.round-corners {
    border: none;
    border-radius: 15px;
    outline: none;
}

.white-text {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px #333333;
}